  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <style>
   .heroswiper .swiper {
      width: 100%;
      height: 100%;
    }

    .heroswiper .swiper-slide {
      background-position: center;
      background-size: cover;
    }

   .heroswiper .swiper-slide img {
      display: block;
      width: 100%;
    }
  </style>
 <div class="{{ section.settings.section_css_class }}">
  <!-- Swiper -->
  <div class="swiper heroswiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src='{{ section.settings.Image | img_url: ' ' }}'>
      </div>
      <div class="swiper-slide">
        <img src='{{ section.settings.Image1 | img_url: ' ' }}'>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
 </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".heroswiper", {
      spaceBetween: 30,
      effect: "fade",
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
{% schema %}
{
    "name": "hero-slider",
    "settings": [
       {
        "type": "text",
        "id": "section_css_class",
        "label": "Section CSS Class"
      },
      {
        "id": "Image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "Image2",
        "type": "image_picker",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "hero-slider",
        "category": "Text",
        "settings": {}
      }
    ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

