<section class="proud_members">
    <div class="container">
       <div class="proud_logo">
            <h2>{{ section.settings.heading }}</h2>
          <div class="proud_logo flex">
             <div class="fair">
               <img src='{{ section.settings.Image | img_url: ' ' }}'>
             </div>
             <div class="fair">
                <img src='{{ section.settings.Image2 | img_url: ' ' }}'>
             </div>
          </div>
       </div>
    </div>
 </section>

{% schema %}
 
{
    "name": "proud-members",
    "settings": [
      {
            "id": "heading",
            "type": "text",
            "label": "Heading"
        },
      {
            "id": "Image",
            "type": "image_picker",
            "label": "logo"
        },
      {
            "id": "Image2",
            "type": "image_picker",
            "label": "logo"
        }
   
    ],
    "presets": [
      {
        "name": "proud-members",
        "category": "Text",
        "settings": {

        }
      }
    ]
  }

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}